! urxvt config
URxvt.scrollBar:	false
URxvt.scrollstyle:      plain
URxvt.secondaryScroll:  true
URxvt.pointerBlank:	true
URxvt.saveLines:        5000
!URxvt.visualBell:      true
URxvt.font:             xft:Hack Nerd Font:size=8, \
			xft:IPAGothic:size=8
URxvt.boldFont:         xft:Hack Nerd Font:bold:size=8, \
			xft:IPAGothic:bold:size=8
URxvt.italicFont:       xft:Hack Nerd Font:italic:size=8, \
			xft:IPAGothic:italic:size=8
URxvt.boldItalicFont:   xft:Hack Nerd Font:bold:italic:size=8, \
			xft:IPAGothic:bold:size=8
!URxvt.intensityStyles:	false
!URxvt.letterSpace: 0

! Xft font config
!! Xft.rgba: rgb results in a vertical line using powerline ?!
Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: none
!Xft.dpi: 176

! emacs
Emacs.font: Hack Nerd Font-9
